# Ruff configuration file

# Exclude common directories that should not be linted/formatted.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "data",
]

# Include only specific directories for linting and formatting.
include = [
    "src/**.py",
    "tests/**.py",
    "examples/**.py"
]

# Formatting settings
line-length = 120
indent-width = 4

# Target Python version
target-version = "py313"

[lint]
# Enable Pyflakes (`F`) and a subset of pycodestyle (`E`) rules.
select = ["E4", "E7", "E9", "F"]

# Allow fix for all enabled rules
fixable = ["ALL"]
unfixable = []

# Allow unused variables prefixed with "_"
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
# Use double quotes for strings
quote-style = "double"

# Use spaces for indentation
indent-style = "space"

# Ensure trailing commas where necessary
skip-magic-trailing-comma = false

# Auto-detect line endings
line-ending = "auto"
